/* mixins */
/* makes a multicolumn responsive box */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #999999;
  transition-property: all;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  a:hover {
    color: #317182; }

a img {
  border: none;
  transition-property: all;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  a img:hover {
    opacity: .5; }

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: 464646; }

p {
  font-size: 1em; }

h1 {
  font-size: 1.75em;
  font-weight: 900;
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  margin: 10px auto 20px;
  float: none; }
  h1 span {
    color: #999999;
    font-weight: 200; }
    @media screen and (max-width: 31.25em) {
      h1 span {
        display: block; } }

h2 {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 0 auto 10px;
  font-size: 1.125em;
  clear: both;
  font-weight: 700;
  line-height: 140%; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

.clear {
  clear: left;
  height: 0px;
  width: 100%;
  border: 1px solid white; }

.main_content {
  width: 100.0%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  max-width: 1000px;
  margin: 30px auto; }

.chatter {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 0 auto 20px;
  font-size: 1em;
  line-height: 1.6em;
  color: #666666; }

.explainer_text {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 20px auto;
  font-size: 0.8125em; }

.content_card {
  width: 100.0%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  max-width: 1000px;
  padding-bottom: 80px;
  position: relative; }

.foods_list {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 20px auto 0px; }
  .foods_list li {
    width: 9.33333%;
    margin: 0 2% 0 0;
    box-sizing: border-box;
    float: left;
    height: 28px;
    border-radius: 2px;
    text-align: center;
    font-size: 0.75em;
    color: white;
    background-color: #4094aa;
    padding-top: 5px;
    transition-property: all;
    transition-duration: .07s;
    transition-timing-function: ease-in-out; }
    @media screen and (max-width: 51.25em) {
      .foods_list li {
        width: 18.4%;
        margin: 0 2% 0 0;
        box-sizing: border-box;
        float: left;
        margin-bottom: 10px; }
        .foods_list li:nth-child(5) {
          margin-right: 0px; } }
    @media screen and (max-width: 31.25em) {
      .foods_list li {
        width: 49%;
        margin: 0 2% 0 0;
        box-sizing: border-box;
        float: left;
        margin-bottom: 10px; }
        .foods_list li:nth-child(2) {
          margin-right: 0px; }
        .foods_list li:nth-child(4) {
          margin-right: 0px; }
        .foods_list li:nth-child(5) {
          margin-right: 2%; }
        .foods_list li:nth-child(6) {
          margin-right: 0px; }
        .foods_list li:nth-child(8) {
          margin-right: 0px; } }
    .foods_list li:hover {
      background-color: #317182;
      cursor: pointer; }
    .foods_list li:nth-child(9) {
      margin-right: 0px; }

.country_list {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 20px auto 30px; }
  .country_list li {
    width: 16.66667%;
    margin: 0 0% 0 0;
    box-sizing: border-box;
    float: left;
    height: 155px;
    font-size: 0.875em;
    text-align: center;
    color: #999999;
    background-repeat: no-repeat;
    background-size: 200%, 100%;
    font-weight: 900;
    background-position: left top, left top; }
    @media screen and (max-width: 57.8125em) {
      .country_list li {
        height: 138px; } }
    @media screen and (max-width: 48.4375em) {
      .country_list li {
        height: 120px; } }
    @media screen and (max-width: 43.75em) {
      .country_list li {
        height: 220px;
        width: 33.33333%;
        margin: 0 0% 0 0;
        box-sizing: border-box;
        float: left; } }
    @media screen and (max-width: 37.5em) {
      .country_list li {
        height: 200px; } }
    @media screen and (max-width: 31.25em) {
      .country_list li {
        height: 230px;
        width: 50%;
        margin: 0 0% 0 0;
        box-sizing: border-box;
        float: left; } }
    @media screen and (max-width: 25em) {
      .country_list li {
        height: 200px; } }
    @media screen and (max-width: 21.875em) {
      .country_list li {
        height: 180px; } }
    .country_list li:hover {
      background-position: right top, left top; }
  .country_list .united_states {
    background-image: url("../siteart/united.svg"), url("../siteart/plate.png"); }
  .country_list .china {
    background-image: url("../siteart/china.svg"), url("../siteart/plate.png"); }
  .country_list .tanzania {
    background-image: url("../siteart/tanz.svg"), url("../siteart/plate.png"); }
  .country_list .brazil {
    background-image: url("../siteart/brazil.svg"), url("../siteart/plate.png"); }
  .country_list .japan {
    background-image: url("../siteart/japan.svg"), url("../siteart/plate.png"); }
  .country_list .world {
    background-image: url("../siteart/world.svg"), url("../siteart/plate.png"); }
  .country_list .active {
    opacity: .3;
    cursor: default;
    background-position: 1000px 10000px, left top; }
    .country_list .active:hover {
      background-position: 1000px 10000px, left top; }

.utility_text {
  font-size: 0.6875em;
  color: #999999;
  font-weight: 700;
  text-align: center;
  margin: 0 0;
  text-transform: uppercase; }

.next_button {
  width: 300px;
  height: 40px;
  margin: 20px auto;
  background-color: #4094aa;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 0.8125em;
  color: white;
  padding-top: 12px;
  font-weight: 900;
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  transition-property: all;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  @media screen and (max-width: 21.875em) {
    .next_button {
      width: 95%; } }
  .next_button:hover {
    background-color: #317182;
    color: white; }

.item_icons {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 0 auto; }
  .item_icons .icon {
    width: 9px;
    height: 9px;
    float: left;
    background-color: #f0b3b3;
    background-position: left top;
    border-right: 1px solid white;
    border-bottom: 1px solid white; }
  .item_icons .icon_added {
    background-color: #cc0202; }
  .item_icons .icon_subtracted {
    background-color: #cac8d2; }

.special_icon .icon {
  background-color: #cc0202; }

.sizer_container {
  width: 100%;
  height: 400px;
  position: relative; }
  .sizer_container .sizer {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%; }
    .sizer_container .sizer img {
      width: 100%; }
    @media screen and (max-width: 31.25em) {
      .sizer_container .sizer {
        width: 150px; } }
  .sizer_container .sizer_initial {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%; }
    .sizer_container .sizer_initial img {
      width: 100%; }
    @media screen and (max-width: 31.25em) {
      .sizer_container .sizer_initial {
        width: 150px; } }

.bar_container {
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 80px auto;
  height: 250px;
  position: relative;
  background-color: #ebebeb; }
  .bar_container .first_country, .bar_container .second_country {
    height: 250px;
    width: 50%;
    background-color: rgba(204, 2, 2, 0.3);
    position: absolute;
    left: 0;
    top: 0; }
  .bar_container .second_country {
    width: 30%; }
  .bar_container .country_percentage {
    color: white;
    font-size: 1.125em;
    position: absolute;
    right: 20px;
    top: 90px;
    font-weight: 700; }

.sources_head {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px; }

.sources {
  margin-bottom: 70px; }
  .sources li {
    color: #666666;
    text-align: center;
    line-height: 1.9em; }

.credits_container {
  width: 100%; }
  .credits_container p {
    font-size: 13px;
    text-align: center; }

.credits {
  width: 280px;
  margin: 0px auto 10px;
  height: 45px; }
  .credits img {
    margin-right: 10px;
    width: 45px; }
    .credits img:last-child {
      margin-right: 0px; }

.key {
  font-size: 0.875em;
  width: 83.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  float: none;
  margin: 40px auto;
  line-height: 1em;
  font-weight: 900;
  color: #999999; }
  .key .icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #ededed;
    margin: 0 20px 0 10px;
    vertical-align: bottom;
    line-height: .8em; }
  .key .added {
    background-color: #cc0202; }
  .key .reduced {
    background-color: #cac8d2; }
  .key .break {
    display: none; }
    @media screen and (max-width: 23.75em) {
      .key .break {
        display: block; } }

.logo {
  width: 60px;
  float: left;
  margin-top: -20px;
  margin-right: 10px; }
  @media screen and (max-width: 37.5em) {
    .logo {
      width: 85px;
      margin-top: -15px; } }
